.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
}

/* .item {
    background-color: red;
    width: 100%;
    height: 100%;
} */